# Password for nuxt-auth-utils (minimum 32 characters)
NUXT_SESSION_PASSWORD=
# GitHub OAuth client ID
NUXT_OAUTH_GITHUB_CLIENT_ID=
# GitHub OAuth client secret
NUXT_OAUTH_GITHUB_CLIENT_SECRET=
# OpenAI API key (required for chat)
OPENAI_API_KEY=
# Postgres database url
DATABASE_URL=
